<%- include('../partials/head') %>
<div class="container">
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text"><%= task.description %></p>
            <p class="card-text"><strong>Deadline:</strong> <%= formatDate(task.deadline) %></p>

            <a href="/users/<%= user._id %>/tasks" class="card-link">Go Back</a>

            <% if (task.status === 'complete') { %>
                <span class="badge bg-success"><%= task.status %></span>
            <% } else if (task.status === 'pending') { %>
                <span class="badge bg-warning"><%= task.status %></span>
            <% } %>

            <div class="d-flex justify-content-between mt-3">
                <form action="/users/<%= user._id %>/tasks/<%= task._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="/users/<%= user._id %>/tasks/<%= task._id %>/edit" class="btn btn-warning">Edit</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>